@import 'partials/reset';
@import 'partials/variables';
@import 'partials/functions';
@import 'partials/mixins';
@import 'partials/base';
@import 'partials/header';


.topHeadline {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	align-content: center;

	padding: remCalc(32px) 0;

	@include respond-to("medium") {
		position: fixed;
		width: 100%;
		padding-top: remCalc(25px);

		z-index: $zIndexThree;

		background-color: $secondaryColorTwo;
	}

	&__announcement {
		width: percentOfWrapper(256px);
		min-width: remCalc(256px);

		@include font();
		font-size: remCalc(14px);
		color: $primaryColorTwo;
	}
}

.menuBarIcon {
	display: none;
	position: fixed;
	right: 0;
	top: remCalc(10px);

	padding: remCalc(10px);
	border: 1px solid $primaryColorOne;
	border-radius: 10px;

	z-index: 999;

	color: $primaryColorOne;
	font-size: remCalc(25px);

	@include respond-to("medium") {
		display: block;
	}
}

.crossPageBorder {
	border-bottom: 1px solid $headlineBorderColor;
}

.contactInfo {
	font-style: normal;

	&--topHeadline {
		display: flex;
		justify-content: space-between;

		width: percentOfWrapper(378px);
		min-width: remCalc(378px);

		margin-right: remCalc(60px);

		@include font('text', $normalWeight);
		font-size: remCalc(12px);
		color: $primaryColorTwo;
	}

	&__email {
		@include respond-to("medium") {
			display: none;
		}
	}

	&__phone {
		@include respond-to("small") {
			display: none;
		}
	}
}

.socialMediaIcons {
	display: flex;
	justify-content: space-between;

	&__icon {
		&--topHeadline {
			text-decoration: none;
			color: $secondaryColorOne;

			@include respond-to("medium") {
				display: none;
				font-size: remCalc(16px);
			}
		}

	}

	&--topHeadline {
		width: remCalc(90px);
	}

	&--teacher {
		justify-content: flex-start;
		align-items: flex-start;
		align-content: flex-start;


		&__item {
			flex: 1;
		}

		&__icon {
			color: $primaryColorTwo;
			font-size: remCalc(20px);
		}
	}
}

.navBar {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: remCalc(32px) 0;

	@include respond-to("large") {
		padding: remCalc(16px) 0;
	}

	@include respond-to("medium") {
		flex-direction: column;
		justify-content: flex-start;

		position: fixed;
		width: remCalc(400px);
		min-height: 100vh;
		top: 0;
		right: 100%;

		z-index: $zIndexFour; 

		background-color: $secondaryColorTwo;

		&--viewable {
			right: 0;
		}

	}

	&__title {
		@include respond-to("medium") {
			margin: 0;
			padding-bottom: remCalc(20px);
		}
	}
	
	&__items { //TODO: get the wrap alignment correct
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		width: percentOfWrapper(848px);
		min-width: remCalc(771px);

		@include respond-to("large") {
			justify-content: flex-start;
			min-width: 0%;
			width: 70%;
		}

		@include respond-to("medium") {
			display: block;
			width: 100%;
			margin: 0;
			padding: 0;

		}
	}

	&__item {
		display: block;
		
		text-align: center;

		@include respond-to("large") {
			margin: 0 remCalc(10px);
			margin-bottom: remCalc(10px);

			a {
				display: block;
				padding: remCalc(10px);
				background-color: $primaryColorThree;
				
				&:hover {
					box-shadow: 0px 0px 1px 0.87px rgba(0, 0, 0, 0.1); 
				}
			}
		}
	}

	&__link {
		text-decoration: none;
		@include font();
		color: $primaryColorTwo;
		font-size: remCalc(17px);
		text-transform: uppercase;
		&:hover {
			color: $secondaryColorOne;
		}
	}

}

.hero {
	display: flex;
	justify-content: center;
	align-items: center;

	min-height: 830px;
	
	background-color: grey;
}


.article--2col {
	display: flex;
	flex-wrap: nowrap;

	&__col1,
	&__col2 {
		width: 50%;

		img {
			display: block;
			width: 100%;
			margin: 0 auto;
		}

		&--centerContent {
			display: flex;
			align-items: flex-start;
			align-content: space-between;
			flex-wrap: wrap;

			p {
				flex: 0 0 100%;
			}
		}
	}
}

.article--about {
	justify-content: space-between;

	@include respond-to("medium") {
		position: relative;
	}

	& > * {
		width: 50% - percentOfWrapper(65px / 2);

		@include respond-to("large") {
			width: 50% - percentOfWrapper(25px / 2);
		}
	}

	&__col1 {
		@include respond-to("medium") {
			position: absolute;
			top:2%;
			left: 2%;
			bottom: 0;

			width: 90%;
			max-height: 100%;

			p {
				color: $secondaryColorTwo;
			}
		}

		@include respond-to("small") {
			position: relative;
			width: 100%;
			top: 0%;
			left: 0;
			bottom: inherit;

			p {
				color: $primaryColorTwo;
			}
		}
	}

	&__col2 {
		@include respond-to("medium") {
			width: 100%;
		}

		@include respond-to("small") {
			display: none;
		}
	}

	.header__title {
		@include respond-to("medium") {
			color: $secondaryColorTwo;
			margin-bottom: 0;
		}

		@include respond-to("small") {
			color: $primaryColorOne;
		}
	}

	.header {
		@include respond-to("medium") {
			margin-bottom: 3%;
		}
	}
}

.article--contactSubSections {
	@include respond-to("medium") {
		flex-direction: column-reverse;
	}

	.article--2col__col1 {
		width: 70%;

		@include respond-to("medium") {
			width: 100%;
			padding-top: 0;
			padding: 0;
			margin: 0 auto;
		}
	}

	.article--2col__col2 {
		width: 30%;

		@include respond-to("medium") {
			width: 100%;
			padding-bottom: 0;
			margin: 0 auto;
		}
	}
}

.detailsContainer {
	margin-top: remCalc(25px);

	@include respond-to("medium") {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
		align-content: space-around;

		min-height: 80%;
	}

	@include respond-to("small") {
		display: block;
	}

	details[open] {
		border: 1px solid $detailsBorderColor;
		// border-top: none;
		
		margin-bottom: remCalc(28px);

		@include respond-to("large") {
			margin-bottom: 2%;
		}

		@include respond-to("medium") {
			color: $secondaryColorTwo;
		}

		p {
			margin: remCalc(22px) remCalc(14px);
			line-height: remCalc(24px);

			@include respond-to("large") {
				margin: remCalc(10px) remCalc(10px);
			}

			@include respond-to("medium") {
				margin: remCalc(10px) remCalc(10px);
				color: $secondaryColorTwo;
			}

			@include respond-to("small") {
				color: $primaryColorTwo;
			}
		}

		summary {
			margin: 0;

			font-size: remCalc(18px);
			color: $secondaryColorTwo;
			background-color: $secondaryColorOne;

			border: none;
			box-shadow: none;

			&::before {
				font-family: FontAwesome;
				content: '\f068';
			}

			@include respond-to("large") {
				padding: remCalc(15px);
				font-size: remCalc(16px);
			}

			@include respond-to("medium") {
				padding: remCalc(10px);
			}

			@include respond-to("small") {
				padding: remCalc(20px);
			}
		}
	}
	details {
		@include respond-to("medium") {
			width: 40%;
		}

		@include respond-to("small") {
			width: 100%;
		}

		p {
			@include respond-to("medium") {
				color: $secondaryColorTwo;
			}

			@include respond-to("small") {
				color: $primaryColorTwo;
			}
		}

		summary {
			padding: remCalc(20px);
			margin-bottom: remCalc(28px);

			@include font('normal');
			font-size: remCalc(14px);
			color: $primaryColorTwo;

			
			box-shadow: 0px 0px 7.92px 0.08px rgba(0, 0, 0, 0.1);

			&::-webkit-details-marker {
	  			display: none
			}

			&::before {
				margin-left: remCalc(16px);
				margin-right: remCalc(8px);

				font-family: FontAwesome;
				content: '\f067';
			}

			@include respond-to("large") {
				margin-bottom: 2%;
				padding: remCalc(15px);
			}

			@include respond-to("medium") {
				// margin-bottom: 2%;
				padding: remCalc(10px);
				border: 1px solid $detailsBorderColor;

				color: $secondaryColorTwo;
			}

			@include respond-to("small") {
				padding: remCalc(20px);
				color: $primaryColorTwo;
			}
		}
	}

}

.cards {
	&__items {
		display: flex;
		justify-content: space-between;

		@include respond-to("medium") {
			flex-direction: column;
		}
	}

	&__item {
		// min-width: remCalc(358px);
		width: (100%  - 2 * percentOfWrapper(50px)) / 3;
		flex-shrink: 0;


		@include respond-to("medium") {
			width: 100%;
		}
	}

	&--teacher {
		@include respond-to("medium") {
			&__items {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: flex-start;
				flex-wrap: wrap;
				margin: 0;
			}

			&__item {
				max-width: 48%;
				margin: 1%;
			}
		}	
	}

	&--testimonial {
		&__item {
			width: 50% - percentOfWrapper(20px);

			@include respond-to("medium") {
				width: 100%;
			}
		}
	}

	.buttons {
		margin-top: remCalc(74px);
	}

	& > .button {
		margin-top: remCalc(74px);
		min-width: remCalc(240px);
	}
}

.card {
	background-color: $secondaryColorTwo;

	@include respond-to("medium") {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: nowrap;

		margin-bottom: remCalc(20px);
	}

	img {
		display: block;
		width: 100%;

		margin: 0 auto;
	}

	&__subTitle {
		@include font('normal', 400);
			background-color: $primaryColorThree;
		p {
			color: $primaryColorOne;
			background-color: $primaryColorThree;
		}
		

		&--price {
			text-align: center;
		}
	}

	&__description {
		font-size: remCalc(14px);
		line-height: remCalc(24px);

		@include respond-to("medium") {
			text-align: left;
		}
	}

	&--highlighted {
		&__subTitle {
				background-color: $secondaryColorOne;
			p {
				background-color: $secondaryColorOne;
				color: $secondaryColorTwo;
			}
		}
	}

	&--service {
		text-align: center;
		
	
		&__title {
			text-align: center;
			margin-bottom: remCalc(30px);

			@include respond-to("medium") {
				text-align: left;
				margin-bottom: remCalc(10px);
			}
		}

		img {
			width: 42%;
			margin-bottom: remCalc(50px);

			@include respond-to("medium") {
				width: 30%;
				margin: 0;
				flex: 1;
			}
		}

		.card__content {
			@include respond-to("medium") {
				min-width: 70%;
				flex: 1;
				margin: 0;
				padding-top: 2%;
				padding-left: 2%;
			}
		}

	}

	&--news {
		position: relative;

		&__topTitle {
			position: absolute;
			left: 75%;
			transform: translateY(-50%);

			text-align: center;
			color: $secondaryColorTwo;
			font-size: remCalc(14px);
			line-height: remCalc(24px);

			&::after {
				position: absolute;
				transform: translate(-70%,-50%);

				z-index:-1;

				content: "";
				width: remCalc(63px);
				height: remCalc(63px);
				background-color: $secondaryColorOne;

			}

			@include respond-to("medium") {
				left: 85%;
			}
		}

		&__title {
			width: 65%;
			margin-top: remCalc(27px);
			margin-bottom: remCalc(23px);

			font-size: remCalc(14px);
			line-height: remCalc(16px);

			@include respond-to("medium") {
				margin-top: 0;
			}
		}

		&__content {
			@include respond-to("medium") {
				position: absolute;
				left: 50%;
				bottom: 5%;
				transform: translateX(-50%);

				width: 100%;
				max-height: 80%;
				padding: 2%;
			
				background-color: transparentize($secondaryColorTwo, 0.1);
				box-shadow: 0px 0px 28.13px 0.87px rgba(0, 0, 0, 0.7);

				&:hover {
					background-color: $secondaryColorTwo;
				}
			}
		}

		&__description {
			width: 80%;
			margin-bottom: remCalc(16px) - remCalc(24px) / 2;
			font-size: remCalc(12px);
			line-height: remCalc(24px);
		}
	}

	&--teacher {
		@include respond-to("medium") {
			position: relative;
			
			width: 100%;
			margin: 0;
			padding: 0;
		}

		&__title {
			margin-top: remCalc(40px);
			margin-bottom: remCalc(20px);

			font-size: remCalc(25px);
			text-transform: uppercase;

			@include respond-to("medium") {
				margin-top: 10%;
				color: $secondaryColorTwo;
				text-shadow: 0px 2px 5px rgba(0, 0, 0, 1);
			}

			@include respond-to("medium") {
				font-size: remCalc(20px);
				margin-bottom: remCalc(10px);
			}
		}

		&__subTitle {
			margin-bottom: remCalc(30px);

			font-weight: $boldWeight;
			font-size: remCalc(18px);
			color: $secondaryColorOne;
			background-color: transparent;

			@include respond-to("medium") {
				margin: 2% 0;
				// color: $primaryColorOne;
				text-shadow: 0px 1px 2px rgba(0, 0, 0, 1);
			}
		}

		&__content {
			@include respond-to("medium") {
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				position: absolute;
				left: 50%;
				bottom: 0;
				transform: translateX(-50%);

				width: 100%;
				height: 50%;
				padding: 2%;
				// padding-bottom: remCalc(5px);
			
				background-color: transparentize($primaryColorOne, 0.9);
				// box-shadow: 0px 0px 28.13px 0.87px rgba(0, 0, 0, 0.7);

				&:hover {
					background-color: transparentize($primaryColorOne, 0.1);
				}
			}

			@include respond-to("small") {
				height: 70%;
			}
		}

		&__contact {
			display: flex;
			align-items: baseline;

			width: 75%;

			text-transform: uppercase;

			@include respond-to("medium") {
				width: 80%;
			}

			p:first-child {
				flex-shrink: 0;
				width: 70%;
				font-size: remCalc(18px);

				@include respond-to("medium") {
					display: none;
					width: 60%;
					padding-right: remCalc(10px);

					text-align: right;
					color: $secondaryColorTwo;
					font-size: remCalc(14px);
					text-shadow: 0px 1px 2px rgba(0, 0, 0, 1);
				}
			}

			.socialMediaIcons--teacher {
				width: 30%;
				flex: 1;
			}
			
			.socialMediaIcons--teacher__icon {
				@include respond-to("medium") {
					color: $secondaryColorTwo;
					font-size: remCalc(30px);
					text-shadow: 0px 1px 2px rgba(0, 0, 0, 1);
				}

				@include respond-to("small") {
					font-size: remCalc(30px);
				}
			}
		}
	}

	&--course {
		box-shadow: 0px 0px 28.13px 0.87px rgba(0, 0, 0, 0.1);

		@include respond-to("medium") {
			position: relative;
		}

		&__topTitle {
			margin-bottom: remCalc(18px);
			&::before {
				margin-right: remCalc(9px);

				content: "\f073";
				font-family: FontAwesome;
				font-size: remCalc(10px);
				font-weight: $normalWeight;
			}
		}

		&__title {
			margin-bottom: remCalc(22px);

			@include font('text', 400);
			color: $primaryColorOne;
			font-size: remCalc(14px);

			@include respond-to("medium") {
				font-size: remCalc(16px);
			}
		}

		&__content {
			padding: remCalc(30px);

			@include respond-to("medium") {
				position: absolute;
				width: 50%;
				max-height: 100%;
				top: 5%;
				right: 5%;
				bottom: 5%;

				
				background-color: transparentize($secondaryColorTwo, 0.1);
				box-shadow: 0px 0px 28.13px 0.87px rgba(0, 0, 0, 0.7);

				&:hover {
					background-color: $secondaryColorTwo;
				}
			}

			@include respond-to("small") {
				padding: remCalc(10px);
			}
		}

		&__description {
			font-size: remCalc(10px);
			line-height: remCalc(18px);

			margin-bottom: remCalc(17px);
	
			@include respond-to("medium") {
				font-size: remCalc(12px);
				line-height: remCalc(20px);
			}
		}

		.button {
			margin: 0;

			&::after {
				margin-left: remCalc(3px);
				content: "\f054";
				font-family: FontAwesome;
				font-size: remCalc(4px);
			}

			@include respond-to("medium") {
				position: absolute;
				bottom: 5%;
				left: 50%;
				transform: translateX(-50%);

				width: 50%;

				font-size: remCalc(12px);
			}
		}
	}

	&--plan {
		box-shadow: 0px 0px 28.13px 0.87px rgba(0, 0, 0, 0.1);

		@include respond-to("medium") {
			position: relative;

			justify-content: flex-start;
			flex-wrap: wrap;
		}

		&--highlighted {
			box-shadow: 0px 0px 28.13px 0.87px transparentize($secondaryColorOne, 0.5);
		}

		&__header {
			@include respond-to("medium") {
				width: 28%;
				padding: 0;
				margin:0;
				margin-right: 2%;

				border-right: 1px solid $detailsBorderColor;
			}
		}

		&__title {
			padding: remCalc(28px) 0;
			margin-top: 20px;
			text-align: center;
			font-size: remCalc(24px);
		}

		&__subTitle {
			padding: remCalc(28px) 0;
			box-shadow: 0px 1px 5px -1px rgba(0,0,0,0.2);

			@include respond-to("medium") {
				box-shadow: 0;
			}
		}

		&__priceAmount {
			margin-bottom: remCalc(18px);
			font-size: remCalc(18px);
		}

		&__priceDays {
			font-size: remCalc(24px);
		}

		&__descriptionContainer {
			display: flex;
			justify-content: center;

			@include respond-to("medium") {
				justify-content: flex-start;

				padding: 0;
				margin:0;
				width: 70%;
			}
		}

		&__description {
			padding: remCalc(40px) 0;


			@include font('text', 400);
			font-size: remCalc(14px);
			& li::before {
				margin-right: remCalc(12px);
				content: "\f00c";
				color: $secondaryColorOne;
				font-family: FontAwesome;
				font-size: remCalc(14px);
			}
			
			@include respond-to("medium") {
				margin:0;
				padding: 0;
				padding-top: 2%;
			}
			
		}

		.button {
			width: 100%;
			border: none;
			border-top: 1px solid $detailsBorderColor;
			border-radius: 0;
			@include font();
			font-size: remCalc(14px);
			text-transform: uppercase;

			&:hover {
				color: $secondaryColorOne;
			}

			@include respond-to("medium") {
				// position: absolute;
			}
		}
		
	}

	&--testimonial {
		position: relative;

		width: 100%;
		padding: remCalc(36px) remCalc(26px);

		z-index: $zIndexTwo;

		border: 1px solid $detailsBorderColor;

		.article--2col__col1 {
			width: 34%;
			margin-right: remCalc(12px);
		}

		.article--2col__col2 {
			width: calc(100% - 34% - 12px); //TODO: how to fix 12px into rem?

			@include respond-to("medium") {
				display: flex;
				flex-direction: column;
				justify-content: space-between; 
			}
		}

		&__description {
			line-height: remCalc(30px);
		}

		&::before {
				position: absolute;
				top: 0%;
				right: 0%;

				z-index: $zIndexThree;

				content: "";
				color: $secondaryColorOne;
				width: 85%;
				min-height: remCalc(2px);
		}

		&__author {
			@include font('heading',400,italic);
			color: $primaryColorTwo;
			font-size: remCalc(18px);

			strong {
				font-weight: $boldWeight;
				color: $primaryColorOne;
			}
		}

	}
}

a.card {
	display: block;

	padding: 0;
	margin: 0;

	@include respond-to("medium") {
		display: flex;
		justify-content: space-between;

		margin-bottom: remCalc(20px);
	}
}

.gallery {
	img {
		display: block;
		width: 100%;
	}
	&__items {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		margin-bottom: remCalc(62px);
	}
	&__item {
		width: 33.33%;

		@include respond-to("small") {
			width: 50%;
		}
	}

	&__filterButtons {
		display: flex;
		justify-content: center;
		align-content: space-between;
		flex-wrap: wrap;

		margin: 0 auto;
		margin-bottom: remCalc(47px);

		& > * {
			margin: 0 remCalc(5px);
			max-width: percentOfWrapper(145px);
			flex: 1; 
		}
	}

	&__filterButton.button {
		min-width: remCalc(127px);
		padding: remCalc(12px) remCalc(18px);
		margin-bottom: remCalc(10px);

		@include font('text', 400);
		color: $primaryColorOne;
		font-size: remCalc(24px);
		background-color: $primaryColorThree;
		border-radius: 0;
		border: none;
		text-transform: capitalize;
	}

	&__filterButton {
		&--highlighted.button {
			padding: remCalc(14px) remCalc(18px);
			@include font();
			font-size: remCalc(24px);
			color: $secondaryColorTwo;
			background-color: $secondaryColorOne;
		}
	}

	& > .button {
		min-width: remCalc(213px);
	}
}

.enlargeable_image {
	position: relative;
	&__overlay {
		display: flex;
		justify-content: center;
		align-items: center;

		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		color: $secondaryColorTwo;
		font-size: remCalc(25px);
		background-color: $secondaryColorOne;
		opacity: 0;
	}

	&__icons {
		display: flex;
		justify-content: center;
		align-items: center;

		margin-top: remCalc(10px);
	}
	
	&__icon {
		display: block;
		position: relative;

		margin: 50%;

		&::after {
			position: absolute;
			transform: translate(-70%,-25%);

			z-index: $zIndexOne;

			content: "";
			width: remCalc(54px);
			height: remCalc(54px);
			border: 1px solid $secondaryColorTwo;
			border-radius: 100%;
		}

		&:hover {
			color: $secondaryColorOne;


			&::after {
				background-color: $secondaryColorTwo;
				z-index: $zIndexOne;
			}
		}
	}

	&:hover &__overlay {
		opacity: 0.75;
	}
}

.subSection {
	&--highlighted {
		background-color: $secondaryColorOne;

		&__header * {
			color: $secondaryColorTwo;
			text-transform: uppercase;
		}

		input {
			color: $secondaryColorTwo;
			background-color: $secondaryColorOne;
			border-color: $secondaryColorTwo;
			&::placeholder {
				color: $secondaryColorTwo;
				font-size: remCalc(18px);

				@include respond-to("medium") {
					font-size: remCalc(14px);
				}
			}
		}

		button {
			color: $secondaryColorTwo;
			background-color: $secondaryColorOne;
			border-color: $secondaryColorTwo;
			text-transform: uppercase;

			font-size: remCalc(24px);
		}
	}

	&--subscribe {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include respond-to("small") {
			flex-direction: column;
		}

		& > * {
			width: 50%;

			@include respond-to("small") {
				width: 100%;
			}
		}

		&__header {
			@include respond-to("small") {
				margin-bottom: remCalc(20px);
				
				text-align: center;
			}
		}

	}

	&--contactForm,
	&--contactAddress {
		.subSection__header {
			margin-bottom: 30px;
		}
	}

	&--contactForm {
		padding-right: remCalc(45px);
	}
}

.singleInputForm {
	display: flex;
	justify-content: flex-start;

	border: 1px solid $secondaryColorTwo;
	border-radius: 5000px;
	overflow: hidden;

	&__input {
		display: block;

		width: 70%;
		margin: 0;
		padding-left: 10%;
		border: none;
		border-right: 1px solid $secondaryColorTwo;
	}

	&__submit.button--form {
		margin: 0;
		padding-left: remCalc(10px);
		border: none;

		width: 30%;

		span::before {
			padding-right: remCalc(16px);
			font-weight: $normalWeight;
			content: "\f1d8";
			font-family: FontAwesome;
			font-size: remCalc(24px);
		}

		@include respond-to("large") {
			font-size: remCalc(16px);

			span::before {
				padding-right: remCalc(10px);
			}
		}

		@include respond-to("medium") {
			font-size: remCalc(0px);

			span::before {
				padding-right: 0;
				font-size: remCalc(30px);
			}
		}
	}
}

.contactForm {
	display: flex;
	flex-wrap: wrap;

	text-align: left;

	input {
		display: box;
		
		width: 100%;
		min-height: remCalc(64px);
		padding-left: 5%;
		margin: remCalc(10px);

		border: 1px solid $detailsBorderColor;
		border-radius: 10px;

		@include font('normal', 400);
		color: $primaryColorTwo;
		font-size: remCalc(20px);

		&::placeholder {
			@include font('normal', 400);
			color: $primaryColorTwo;
			font-size: remCalc(20px);
		}

		&[name="name"],
		 &[name="email"] {
			width: calc(50% - 10px);

			@include respond-to("medium") {
				width: 100%;
				margin-left: 0;
				margin-right: 0;
			}
		}

		&[name="name"] {
			margin-left: 0;
		}

		&[name="email"] {
			margin-right: 0;
		}

		&[name="subject"] {
			margin-left: 0;
			margin-right: 0;
			margin-bottom: remCalc(10px);
		}
	}
	textarea {
		width: 100%;
		min-height: remCalc(150px);
		padding: 5%;
		margin-top: remCalc(10px);
		margin-bottom: remCalc(42px);

		border: 1px solid $detailsBorderColor;
		border-radius: 10px;

		color: $primaryColorTwo;
		@include font('normal', 400);
		font-size: remCalc(20px);

		resize: none;
	}

	button {
		margin: 0 auto;
	}

}

footer {
	color: $secondaryColorTwo;
	background-color: $primaryColorFour;

	padding-top: remCalc(150px);

	h1 {
		margin-bottom: remCalc(30px);

		color: $secondaryColorTwo;
		text-align: center;
		text-transform: capitalize;
	}

	address {
		padding-bottom: remCalc(30px);
	}

	nav {
		display: flex;
		justify-content: space-between;
		
		padding-top: remCalc(50px);
		padding-bottom: remCalc(120px);

		color: $secondaryColorTwo;
		.navList {
			width: 25%;
			
			&__heading {
				margin-bottom: remCalc(30px);
				color: $secondaryColorTwo;
				font-size: remCalc(24px);
			}

			&__item {
				margin-bottom: remCalc(26px);

				a {
					@include font('text', 400);

					color: $secondaryColorTwo;
					font-size: remCalc(16px);
				}

				&:last-child {
					border-bottom: none;
				}

				&--article { //TODO: How to fix over-nesting
					display: flex;
					align-items: center;
					position: relative;

					padding-bottom: remCalc(26px);
					border-bottom: 2px solid $footerBorderColor;

					img {
						display: block;
						margin-right: remCalc(20px);
						width: 50%;
					}
					p {
						@include font('text', 400);
						color: $secondaryColorTwo;
						font-size: remCalc(11px);
						line-height: remCalc(24px);
					}
				}
			}
		}
	}

	.footer__copyright {
		padding: remCalc(30px) 0;
		text-align: center;

		@include font('text', 400);
		color: $secondaryColorTwo;
		font-size: remCalc(18px);
		background-color: $copyrightBackgroundColor;
	}

}

.addressList {
	&--large {
		@include respond-to("medium") {
			display: flex;
			justify-content: center;
			align-content: center;
			flex-wrap: wrap;
		}

		&__item {
			display: flex;
			justify-content: flex-start;

			margin-bottom: remCalc(45px);

			@include respond-to("medium") {
				flex-direction: column;
				justify-content: space-between;
				align-items: center;

				width: 45%;
			}

			p {
				font-size: remCalc(22px);
				line-height: remCalc(24px);

				@include respond-to("large") {
					font-size: remCalc(16px);
				}

				@include respond-to("small") {
					font-size: remCalc(14px);
				}
			}

			&::before { //TODO: Cleanup
				display: flex;
				justify-content: center;
				align-items: center;

				flex-grow: 0;
				flex-shrink: 0;
				position: relative;
				transform: translateY(-10%);
				margin-right: remCalc(35px);

				width: remCalc(50px);
				min-height: remCalc(50px);
				max-height: remCalc(50px);

				font-family: FontAwesome;
				font-size: remCalc(22px);

				color: $secondaryColorTwo;
				background-color: $secondaryColorOne;
				border-radius: 100%;

				@include respond-to("large") {
					font-size: remCalc(18px);

					width: remCalc(30px);
					min-height: remCalc(30px);
					max-height: remCalc(30px);
					margin-right: remCalc(20px);
				}

				@include respond-to("medium") {
					width: remCalc(70px);
					min-height: remCalc(70px);
					max-height: remCalc(70px);
				}
			}

			&--location {
				&::before {
					content: "\f041";
				}
			}

			&--phone {
				&::before {
					content: "\f095";
				}
			}

			&--email {
				&::before {
					content: "\f003";
				}
			}

		}
	}
	&--footer {
		display: flex;
		justify-content: center;
		
		&__item {
			display: block;
			margin: 0 remCalc(10px);

			@include font('text', $normalWeight);

			font-size: remCalc(16px);
			color: $secondaryColorTwo;

			&::before {
				color: $secondaryColorOne;
				margin-right: remCalc(8px);

				font-family: FontAwesome;
				font-style: normal;
			}

			&--hotline {
				&::before {
					content: "\f10b";
				}
			}

			&--email {
				&::before {
					content: "\f003";
				}
			}

			&--location {
				&::before {
					content: "\f041";
				}
			}
		}
	}
}

