@import 'partials/reset';
@import 'partials/variables';
@import 'partials/functions';
@import 'partials/mixins';
@import 'partials/base';
@import 'partials/header';
@import 'partials/navBar';
@import 'partials/article';
@import 'partials/subSection';
@import 'partials/cards';
@import 'partials/card';
@import 'partials/gallery';
@import 'partials/addressList';
@import 'partials/footer';

//for wow animations from WOW.js library.
.wow { visibility: hidden; }

.topHeadline {
	@include respond-to("medium") {
		position: fixed;
		width: 100%;

		z-index: $zIndexThree;

		background-color: $secondaryColorTwo;
		border-bottom: 1px solid $detailsBorderColor;
		box-shadow: 0 6px 5px -5px transparentize(#000, 0.9);
	}

	&__content {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		align-content: center;

		padding: remCalc(32px) 0;
	}

	&__announcement {
		width: percentOfWrapper(256px);
		min-width: remCalc(256px);

		@include font();
		font-size: remCalc(14px);
		color: $primaryColorTwo;
	}
}

.menuBarIcon {
	display: none;
	position: fixed;
	right: remCalc(5px);
	top: remCalc(10px);

	padding: remCalc(10px);
	border: 1px solid $primaryColorOne;
	border-radius: 10px;

	z-index: 999;

	color: $primaryColorOne;
	font-size: remCalc(25px);

	transition: all 0.3s;

	&:hover {
		color: $secondaryColorTwo;
		background-color: $primaryColorOne;
		box-shadow: 0px 0px 7.92px 0.08px rgba(0, 0, 0, 0.1);
		transform: scale(1.05,1.05);
	}

	@include respond-to("medium") {
		display: block;
	}
}

.crossPageBorder {
	border-bottom: 1px solid $headlineBorderColor;
}

.contactInfo {
	font-style: normal;

	&--topHeadline {
		display: flex;
		justify-content: space-between;

		width: percentOfWrapper(378px);
		min-width: remCalc(400px);

		margin-right: remCalc(60px);

		@include font('text', $normalWeight);
		font-size: remCalc(12px);
		color: $primaryColorTwo;
	}

	&__email {
		@include respond-to("medium") {
			display: none;
		}

		&::before {
			content: "\f0e0";
			padding-right: remCalc(4px);
			font-family: FontAwesome;
			font-size: remCalc(12px);
		}
	}

	&__phone {
		@include respond-to("small") {
			display: none;
		}

		&::before {
			content: "\f095";
			padding-right: remCalc(4px);
			font-family: FontAwesome;
			font-size: remCalc(12px);
		}
	}
}

.socialMediaIcons {
	display: flex;
	justify-content: space-between;

	&__icon {
		&:hover {
			color: $primaryColorOne;

			@include respond-to("medium") {
				color: $secondaryColorOne;
			}
		}

		&--topHeadline {
			text-decoration: none;
			color: $secondaryColorOne;

			&:hover {
				text-shadow: 2px 2px 8px transparentize($secondaryColorOne, 0.5);
			}	

			@include respond-to("medium") {
				display: none;
				font-size: remCalc(16px);
			}
		}

	}

	&--topHeadline {
		width: remCalc(90px);
	}

	&--teacher {
		justify-content: flex-start;
		align-items: flex-start;
		align-content: flex-start;


		&__item {
			flex: 1;
		}

		&__icon {
			color: $primaryColorTwo;
			font-size: remCalc(20px);
		}
	}
}

.hero {
	display: flex;
	justify-content: center;
	align-items: center;

	min-height: 830px;
	
	background-color: grey;
	background-image: url(../assets/images/hero.png);
	background-size: cover;
	background-position: center;

	@include respond-to("medium") {
		min-height: 100vh;
	}
}

.detailsContainer {
	margin-top: remCalc(25px);

	@include respond-to("medium") {

		display: block;
		position: relative;

		min-height: 50%;
		margin-top: remCalc(10px);
	}

	@include respond-to("small") {
		margin-top: remCalc(25px);
	}

	details[open] {
		border: 1px solid $detailsBorderColor;
		
		margin-bottom: remCalc(28px);

		@include respond-to("large") {
			margin-bottom: 2%;
		}

		@include respond-to("medium") {
			color: $secondaryColorTwo;
			margin-bottom: 1%;
		}

		p {
			margin: remCalc(22px) remCalc(14px);
			line-height: remCalc(24px);

			@include respond-to("large") {
				margin: remCalc(10px) remCalc(10px);
			}

			@include respond-to("medium") {
				margin: remCalc(10px) remCalc(10px);
				color: $secondaryColorTwo;

				position: absolute;
				top: 0;
				right: 0;
				width: 50%;
			}

			@include respond-to("small") {
				position: static;
				color: $primaryColorTwo;
				width: 100%;
			}
		}

		summary {
			margin: 0;

			font-size: remCalc(18px);
			color: $secondaryColorTwo;
			background-color: $secondaryColorOne;

			border: none;
			box-shadow: none;

			&::before {
				font-family: FontAwesome;
				content: '\f068';
			}

			@include respond-to("large") {
				padding: remCalc(15px);
				font-size: remCalc(16px);
			}

			@include respond-to("small") {
				padding: remCalc(25px);
			}
		}
	}
	details {
		@include respond-to("medium") {
			width: 40%;
		}

		@include respond-to("small") {
			width: 100%;
		}

		p {
			@include respond-to("medium") {
				color: $secondaryColorTwo;
			}

			@include respond-to("small") {
				color: $primaryColorTwo;
			}
		}

		summary {
			padding: remCalc(20px);
			margin-bottom: remCalc(28px);

			@include font('normal');
			font-size: remCalc(14px);
			color: $primaryColorTwo;

			
			box-shadow: 0px 0px 7.92px 0.08px rgba(0, 0, 0, 0.1);

			transition: all 0.5s;

			&:hover {
				color: $secondaryColorTwo;
				background-color: $secondaryColorOne;
				transform: scale(1.05,1.05);
			}

			&::-webkit-details-marker {
	  			display: none
			}

			&::before {
				margin-left: remCalc(16px);
				margin-right: remCalc(8px);

				font-family: FontAwesome;
				content: '\f067';
			}

			@include respond-to("large") {
				margin-bottom: 2%;
				padding: remCalc(15px);
			}

			@include respond-to("medium") {
				border: 1px solid $detailsBorderColor;

				color: $secondaryColorTwo;
			}

			@include respond-to("small") {
				padding: remCalc(25px);
				color: $primaryColorTwo;
			}
		}
	}

}

.enlargeable_image {
	position: relative;
	&__overlay {
		display: flex;
		justify-content: center;
		align-items: center;

		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		color: $secondaryColorTwo;
		font-size: remCalc(25px);
		background-color: $secondaryColorOne;
		opacity: 0;
	}

	&__icons {
		display: flex;
		justify-content: center;
		align-items: center;

		margin-top: remCalc(10px);
	}
	
	&__icon {
		display: block;
		position: relative;

		margin: 50%;

		&::after {
			position: absolute;
			transform: translate(-70%,-25%);

			z-index: $zIndexOne;

			content: "";
			width: remCalc(54px);
			height: remCalc(54px);
			border: 1px solid $secondaryColorTwo;
			border-radius: 100%;
		}

		&:hover {
			color: $secondaryColorOne;


			&::after {
				background-color: $secondaryColorTwo;
				z-index: $zIndexOne;
			}
		}
	}

	&:hover &__overlay {
		opacity: 0.75;
	}
}

.singleInputForm {
	display: flex;
	justify-content: flex-start;

	border: 1px solid $secondaryColorTwo;
	border-radius: 5000px;
	overflow: hidden;

	&__input {
		display: block;

		width: 70%;
		margin: 0;
		padding-left: 10%;
		border: none;
		border-right: 1px solid $secondaryColorTwo;

		border-top-left-radius: 5000px;
		border-bottom-left-radius: 5000px;

		&:focus {
			outline: none;
			box-shadow: inset 0 0 10px $secondaryColorTwo;
		}

	}

	&__submit.button--form {
		margin: 0;
		padding-left: remCalc(10px);
		border: none;
		border-radius: 0;

		width: 30%;

		&:hover {
			box-shadow: none;
			color: $secondaryColorOne;
			background-color: $secondaryColorTwo;
		}

		span::before {
			padding-right: remCalc(16px);
			font-weight: $normalWeight;
			content: "\f1d8";
			font-family: FontAwesome;
			font-size: remCalc(24px);
		}

		@include respond-to("large") {
			font-size: remCalc(16px);

			span::before {
				padding-right: remCalc(10px);
			}
		}

		@include respond-to("medium") {
			font-size: remCalc(0px);

			span::before {
				padding-right: 0;
				font-size: remCalc(30px);
			}
		}
	}
}

.contactForm {
	display: flex;
	flex-wrap: wrap;

	text-align: left;

	input {
		display: box;
		
		width: 100%;
		min-height: remCalc(64px);
		padding-left: 5%;
		margin: remCalc(10px);

		border: 1px solid $detailsBorderColor;
		border-radius: 10px;

		@include font('normal', 400);
		color: $primaryColorTwo;
		font-size: remCalc(20px);

		&:focus {
			outline: none;
			box-shadow: inset 0 0 10px $secondaryColorOne;
		}

		&::placeholder {
			@include font('normal', 400);
			color: $primaryColorTwo;
			font-size: remCalc(20px);
		}

		&[name="name"],
		 &[name="email"] {
			width: calc(50% - 10px);

			@include respond-to("medium") {
				width: 100%;
				margin-left: 0;
				margin-right: 0;
			}
		}

		&[name="name"] {
			margin-left: 0;
		}

		&[name="email"] {
			margin-right: 0;
		}

		&[name="subject"] {
			margin-left: 0;
			margin-right: 0;
			margin-bottom: remCalc(10px);
		}
	}
	textarea {
		width: 100%;
		min-height: remCalc(150px);
		padding: 5%;
		margin-top: remCalc(10px);
		margin-bottom: remCalc(42px);

		border: 1px solid $detailsBorderColor;
		border-radius: 10px;

		color: $primaryColorTwo;
		@include font('normal', 400);
		font-size: remCalc(20px);

		resize: none;

		&:focus {
			outline: none;
			box-shadow: inset 0 0 10px $secondaryColorOne;
		}
	}

	button {
		margin: 0 auto;
	}

}


