@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:400,500i,700,700i');

.html, body {
	// font-size: 62.5%;
	// font-size: $htmlFontSize;
	line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	line-height: 1;

	@include font();
	color: $primaryColorOne;
}

h1 {
	font-size: remCalc(35px);
	text-transform: uppercase;
}

p {
	padding: 0;
	margin: 0;
	line-height: 1;

	@include font('text', $normalWeight);
	font-size: remCalc(14px);
}

ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

a, a:visited {
	text-decoration: none;
}

section {
	padding: remCalc(125px) 0;

	&.bottomDivider {
		border-bottom: 1px solid $headlineBorderColor;
	}
}

.tintedBackground {
	background-color: $primaryColorThree;
}

.highlightedBackground {
	background-color: $secondaryColorOne;
}

.wrapper {
	width: 100%;
	max-width: $wrapperWidth;
	padding: 0;
	margin: 0 auto;
}


.buttons {
	display: flex;
	justify-content: space-between;
	width: percentOfWrapper(396px);
	min-width: remCalc(396px);

	margin: 0 auto;

	.button {
		display: block;

		min-width: remCalc(188px);
		padding: remCalc(20px);
		margin: 0 remCalc(10px);

		font-size: remCalc(13px);
	}
}

.button {
	display: block;
	flex: 1;

	width: percentOfWrapper(240px);

	padding: remCalc(24px);
	margin: 0 auto;
	text-align: center;
	border-radius: 500px;
	border: 1px solid $secondaryColorOne;

	@include font();
	font-size: remCalc(18px);
	text-transform: uppercase;

	&--highlighted {
		color: $secondaryColorTwo;
		background-color: $secondaryColorOne;
		border: none;
	}
	
	&--dark {
		color: $secondaryColorTwo;
		background-color: $primaryColorFour;
		border: none;
	}

	&--card {
		width: remCalc(67px);
		padding: remCalc(10px);

		@include font('text', 400);
		font-size: remCalc(10px);
		color: $secondaryColorTwo;
		background-color: $secondaryColorOne;
		border: none;
		text-align: center;
	}

	&--form {
		border-radius: 10px;
		max-width: remCalc(236px);
	}
}

a.button {
	display: block;
}

.more_info_link {
	color: $secondaryColorOne;
	font-size: remCalc(14px);
	text-transform: lowercase;
	&::after {
		font-family: FontAwesome;
		margin-left: remCalc(6px);
		content: '\f178';
	}
}
