@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:400,500i,700,700i');

.html, body {
	// font-size: 62.5%;
	// font-size: $htmlFontSize;
	line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	line-height: 1;

	@include font();
	color: $primaryColorOne;
}

h1 {
	font-size: remCalc(35px);
	text-transform: uppercase;
}

p {
	padding: 0;
	margin: 0;
	line-height: 1;

	@include font('text', $normalWeight);
	font-size: remCalc(14px);
}

ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

a, a:visited {
	text-decoration: none;

	&:hover:not(.button):not(.card):not(.more_info_link):not(.navBar__link) {
		text-decoration: underline;
	}
}

section {
	padding: remCalc(125px) 0;

	&.bottomDivider {
		border-bottom: 1px solid $headlineBorderColor;
	}

	@include respond-to("medium") {
		padding: remCalc(75px) 0;
	}

	//TODO: For testing
	// background-color: lightgreen;

	// @include respond-to("large") {
	// 	background-color: yellow;
	// }

	// @include respond-to("medium") {
	// 	background-color: orange;
	// }

	// 	@include respond-to("small") {
	// 	background-color: salmon;
	// }
}

.section {
	&--about {
		position: relative;
	}
}

address {
	&.bottomDivider {
		border-bottom: 1px solid $footerBorderColor;
	}
}

.tintedBackground {
	background-color: $primaryColorThree;
}

.highlightedBackground {
	background-color: $secondaryColorOne;
}

.wrapper {
	width: 100%;
	max-width: $wrapperWidth;
	padding: 0 remCalc($wrapperSidePadding);
	margin: 0 auto;

	// overflow: hidden;
}


.buttons {
	display: flex;
	justify-content: space-between;
	// width: 100%;
	max-width: remCalc(450px);

	margin: 0 auto;

	.button {
		display: block;

		min-width: remCalc(150px);
		max-width: remCalc(210px);
		padding: remCalc(20px);
		// margin: 0 remCalc(10px);

		font-size: remCalc(13px);

		@include respond-to("small") {
			max-width: remCalc(190px);
		}
	}
}

.button {
	display: block;
	flex: 1;

	width: percentOfWrapper(240px);

	padding: remCalc(24px);
	margin: 0 auto;
	text-align: center;
	border-radius: 500px;
	border: 1px solid $secondaryColorOne;

	@include font();
	font-size: remCalc(18px);
	text-transform: uppercase;

	transition: all 0.3s;

	&:hover {
		box-shadow: 0px 0px 7.92px 0.08px rgba(0, 0, 0, 0.3);
		color: $secondaryColorTwo;
		background-color: $secondaryColorOne;
		text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
		transform: scale(1.05,1.05);
	}

	&--highlighted {
		color: $secondaryColorTwo;
		background-color: $secondaryColorOne;
		border: 1px solid $secondaryColorOne;

		&:hover {
			color: $secondaryColorOne;
			background-color: $secondaryColorTwo;
			border: 1px solid $secondaryColorOne;

		}
	}
	
	&--dark {
		color: $secondaryColorTwo;
		background-color: $primaryColorFour;
		border: 1px solid $primaryColorFour;

		&:hover {
			color: $primaryColorFour;
			background-color: $secondaryColorTwo;
			border: 1px solid $primaryColorFour;
		}
	}

	&--card {
		width: remCalc(67px);
		padding: remCalc(10px);

		@include font('text', 400);
		font-size: remCalc(10px);
		color: $secondaryColorTwo;
		background-color: $secondaryColorOne;
		border: none;
		text-align: center;
	}

	&--form {
		border-radius: 10px;
		max-width: remCalc(236px);
	}
}

a.button {
	display: block;
}

a.more_info_link {
	color: $secondaryColorOne;
	font-size: remCalc(14px);
	text-transform: lowercase;

	&:hover {
		text-decoration: none;
		text-shadow: 2px 2px 8px transparentize($secondaryColorOne, 0.5);
	}

	&::after {
		margin-left: remCalc(6px);

		font-family: FontAwesome;
		content: '\f178';

	}

	@include respond-to("small") {
		font-size: remCalc(16px);
	}
}
