footer {
	color: $secondaryColorTwo;
	background-color: $primaryColorFour;

	padding-top: remCalc(150px);

	@include respond-to("medium") {
		padding-top: remCalc(75px);
	}

	h1 {
		margin-bottom: remCalc(30px);

		color: $secondaryColorTwo;
		text-align: center;
		text-transform: capitalize;
	}

	address {
		padding-bottom: remCalc(30px);
	}

	nav {
		display: flex;
		justify-content: space-between;
		
		padding-top: remCalc(50px);
		padding-bottom: remCalc(120px);

		color: $secondaryColorTwo;

		@include respond-to("medium") {
			padding-bottom: remCalc(75px);
		}

		@include respond-to("medium") {
			padding-bottom: remCalc(10px);
		}

		.navList {
			width: 25%;

			&:nth-child(2),
			&:nth-child(3) {
				@include respond-to("medium") {
					display: none;
				}
			}

			&:nth-child(1),
			&:nth-child(4) {
				@include respond-to("medium") {
					width: 50%;
				}
			}

//Recent Post------------------------------------------------//
			&--article {
				&__item {
					.article--2col__col1 {
						width: 30%;
						min-width: remCalc(76px);

						margin-right: remCalc(20px);
					}

					.article--2col__col2--centerContent {
						width: 70%;
						@include respond-to("medium") {
							display: block;
						}

						@include respond-to("small") {
							p {
								display: none;
							}
						}
					}

				}

			}
			
			&__heading {
				margin-bottom: remCalc(30px);
				color: $secondaryColorTwo;
				font-size: remCalc(24px);
			}

			&__item {
				margin-bottom: remCalc(26px);

				a {
					@include font('text', 400);

					color: $secondaryColorTwo;
					font-size: remCalc(16px);
				}

				&:last-child {
					border-bottom: none;
				}

				&--article { //Fatin: How to fix over-nesting
					display: flex;
					align-items: center;
					position: relative;

					padding-bottom: remCalc(26px);
					border-bottom: 2px solid $footerBorderColor;


					&--2col__col1 {
						width: 30%;
						min-width: remCalc(76px);
					}

					&--2col__col2--centerContent {
						width: 70%;
						@include respond-to("medium") {
							display: block;
						}

					}

					img {
						display: block;
						width: 100%;
					}
					p {
						@include font('text', 400);
						color: $secondaryColorTwo;
						font-size: remCalc(11px);
						line-height: remCalc(24px);
					}


				}
			}
		}
	}

	.footer__copyright {
		padding: remCalc(30px) 0;
		text-align: center;

		@include font('text', 400);
		color: $secondaryColorTwo;
		font-size: remCalc(18px);
		background-color: $copyrightBackgroundColor;
	}

}
