.header {
	text-align: center;

	@include font();

	h1 {
		font-size: remCalc(35px);
	}

	&--hero {
		color: $secondaryColorTwo;
		&__topTitle {
			color: $secondaryColorTwo;
			font-size: remCalc(28px);
		}
		&__title {
			color: $secondaryColorTwo;
			font-size: remCalc(55px);
		}
		&__caption {
			color: $secondaryColorTwo;
			font-size: remCalc(20px);
		}

		.button {
			
			width: remCalc(244px);
			color: $secondaryColorTwo;
			border-color: $secondaryColorTwo;
			text-transform: uppercase;
		}
	}

	&--section {
		&__title {
			font-size: remCalc(36px);
			text-transform: uppercase;
		}

		&__topTitle {
			@include font('text', 400);
			font-size: remCalc(18px);
			text-transform: uppercase;
		}

		&__subTitle {
			font-weight: $normalWeight;
			color: $secondaryColorOne;
			font-size: remCalc(20px);
		}

		&__caption {
			@include font('text', 400);
			font-size: remCalc(14px);
		}
	}

	&--subSection {
		&__title {
			font-size: remCalc(26px);
		}
	}

	&--card {
		text-align: left;

		&__title {
			font-size: remCalc(18px);
		}

		&__topTitle {
			&--date {
				// @include font('text', 400);
				font-size: remCalc(12px);
			}
		}
	}

	&--article {
		text-align: left;

		&__title {
			font-size: remCalc(30px);
			text-transform: capitalize;
		}
	}

	&--footerArticle {
		&__title {
			color: $secondaryColorTwo;
			font-size: remCalc(15px);
		}
	}
	
}