.header {
	text-align: center;

	@include font();

	h1 {
		font-size: remCalc(35px);
	}

	&--hero {
		color: $secondaryColorTwo;

		& > * {
			text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
		}

		&__topTitle {
			color: $secondaryColorTwo;
			font-size: remCalc(28px);
			text-transform: capitalize;
		}
		&__title {
			position: relative;

			color: $secondaryColorTwo;
			font-size: remCalc(55px);

			margin-top: remCalc(48px);
			margin-bottom: remCalc(26px);

			&::before {
				position: absolute;
				top: remCalc(-26px);
				left: 50%;
				transform: translateX(-50%);

				content: "";
				width: remCalc(152px);
				height: 1px;
				background-color: $secondaryColorTwo;
			}
		}
		&__caption {
			color: $secondaryColorTwo;
			font-size: remCalc(20px);
			text-transform: capitalize;

			margin-bottom: remCalc(66px);
		}

		.button {

			width: remCalc(244px);
			color: $secondaryColorTwo;
			border-color: $secondaryColorTwo;
			text-transform: uppercase;
		}
	}

	&--section {
		margin-bottom: remCalc(60px);

		&__title {
			font-size: remCalc(36px);
			text-transform: uppercase;
		}

		&__topTitle {
			margin-bottom: remCalc(30px);
			@include font('text', 400);
			font-size: remCalc(18px);
			text-transform: uppercase;
		}

		&__subTitle {
			margin-top: remCalc(26px);

			font-weight: $normalWeight;
			color: $secondaryColorOne;
			font-size: remCalc(20px);
		}

		&__caption {
			width: percentOfWrapper(686px);
			margin: 0 auto;
			margin-top: remCalc(26px);

			@include font('text', 400);
			font-size: remCalc(14px);
			line-height: remCalc(30px);
		}
	}

	&--subSection {
		&__title {
			font-size: remCalc(26px);
		}
	}

	&--card {
		text-align: left;

		&__title {
			font-size: remCalc(18px);
		}

		&__topTitle {
			&--date {
				// @include font('text', 400);
				font-size: remCalc(12px);
			}
		}
	}

	&--article {
		text-align: left;

		margin-bottom: remCalc(40px);

		&__title {
			font-size: remCalc(30px);
			text-transform: capitalize;
		}
	}

	&--footerArticle {
		&__title {
			text-align: left;
			color: $secondaryColorTwo;
			font-size: remCalc(15px);
			line-height: remCalc(24px);
		}
	}
	
}