@mixin clearFix(){
  &:before,
  &:after{
    content: " "; 
    display: table; 
  }

  &:after{
    display: block;
    clear: both;
    height: 1px;
    margin-top: -1px;
    visibility: hidden;
  }
  &{
    *zoom: 1;
  }
}

@mixin font($type: 'heading', $weight: $boldWeight, $style: normal) {
  @if $type == 'heading' {
    font-family: $headingFontFamily;
    font-weight: $weight;
    font-style: $style;
    color: $primaryColorOne;
  } @else if $type == 'text' {
    font-family: $textFontFamily;
    font-weight: $weight;
    font-style: $style;
    color: $primaryColorTwo;
  }
}

@mixin respond-to($breakpoint) {
  @if $breakpoint == "small" {
    @media (max-width: 480px) {
      @content;
    }
  }

  @else if $breakpoint == "medium" {
    @media (max-width: 768px) {
      @content;
    }
  }

  @else if $breakpoint == "large" {
    @media (max-width: 940px) {
      @content;
    }
  }

  // @else if $breakpoint == "xlarge" {
  //   @media (min-width: 1500px) {
  //     @content;
  //   }
  // }

  @else {
    @media ($breakpoint) {
      @content;
    }
  }
}