$htmlFontSize: 16px;
$wrapperWidth: 1170px;

$headingFontFamily: 'Raleway', sans-serif;
$textFontFamily: 'Open Sans', sans-serif;

$boldWeight: 700;
$normalWeight: 400;

$primaryColorOne: #333333;
$primaryColorTwo: #666666;
$primaryColorThree: #f5f5f5;
$primaryColorFour: #191919;
$secondaryColorOne: #18bb7c;
$secondaryColorTwo: #fff;

$headlineBorderColor: #cccccc;
$detailsBorderColor: #e1e1e1;
$footerBorderColor: #999999;
$copyrightBackgroundColor: #111111;

$zIndexOne: -10;
$zIndexTwo: 10;
$zIndexThree: 20;
